# .NET Core build output folders
[Oo]bj/
[Bb]in/

# Other .NET Core files
.DS_Store
*.csproj.user
*.suo
*.user
*.userosscache
*.sln.docstates
*.vspscc

# VS Code
.vscode/
.idea/

# SQLite database
app.db
app.db-journal